[Desktop Entry]
Version=1.0
Type=Application
Name=compton
GenericName=X compositor
Comment=Compositor for X11
Categories=Utility;
TryExec=/usr/bin/compton
Exec=compton
Icon=compton
# Thanks to quequotion for providing this file!
NoDisplay=true
