[Unit]
Description=checks if installed on virtual machine or not

[Service]
Type=oneshot
ExecStart=/usr/bin/vbox-check

[Install]
WantedBy=multi-user.target