style "whisker"
{
	xthickness	= 1
	ythickness	= 1
	
	bg[NORMAL]	= "#2B3640"
#	bg[NORMAL]	= shade (0.35, @bg_color)
	bg[ACTIVE]	= shade (0.65, @bg_color)
	bg[PRELIGHT]	= shade (0.85, @selected_bg_color)
	bg[SELECTED]	= shade (0.65, @selected_bg_color)
	
	fg[NORMAL]	= shade (0.9, @base_color)
	fg[PRELIGHT]	= @base_color
	fg[ACTIVE]	= shade (0.9, @base_color)
	fg[SELECTED]	= shade (0.9, @base_color)
	
	text[NORMAL]      = @text_color # Color for menu-item radio/checks.
	base[NORMAL]      = @bg_color # Color for menu-item radio/checks background.
	text[PRELIGHT]    = @base_color
	text[SELECTED]    = @base_color
	text[ACTIVE]      = @fg_color
	text[INSENSITIVE] = @text_color

	engine "murrine" {
		roundness	= 0
		glowstyle	= 0
		glazestyle	= 0
		textstyle	= 0
		text_shade	= 0.1
	}
}
widget "whiskermenu-window*" style "whisker"